/* You can add global styles to this file, and also import other style files */

html {
    margin: 0;
    padding: 0;
}
body {
    /* height: 100vh; */
}
header {
    margin: 0;
    padding: 0;
}
.main-content {
    min-height: 100vh;
}
.link h5 {
    padding-top: 10px;
}
.link img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.link {
    background: white;
    border: solid 1px gray;
    border-radius: 10px;
}
.link:hover {
    background: grey;
}
