.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}
a {
    color: #61dafb;
}
a:hover {
    color: #61dafb;
    decoration: underline;
}
main {
    min-height: 100vh;
}
.card {
    width: 250px;
    margin: 1rem;
}
